<header ng-init="me()">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/profile">Gift Card Application</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse" ng-show="tokenStatus">
        <span><a href="#/createProduct" class="btn btn-default btn-sm cButtons">Create Product</a></span>
        <span><a href="#/viewUsers" class="btn btn-default btn-sm cButtons">View Users</a></span>
        <span><input type="text" class="searchBar" placeholder="Search Products" ng-model="query"></span>
        <a href="" class="btn btn-default btn-sm navbar-right" id="btn-logout" ng-click="logout()">Logout</a>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>
</header>
<section id="users" ng-init="viewUsers()">
  <article id="userArticle">
    <h1>Send a memorable gift to your loved one... the memorable way!</h1>
  </article>

  <div class="row">
    <div class="col-md-4 first-col items" id="apiList">
      <h2>Registered Users</h2>
      <div ng-repeat="user in users" class="col-xs-12 col-md-10 col-md-offset-1 blocky">
        <div class="item" ng-click="showWishList(user)">
          <div><strong>First Name</strong>: {{user.firstName}}</div>
          <div><strong>Last Name</strong>: {{user.lastName}}</div>
          <div><strong>Email</strong>: {{user.email}}</div>
        </div>
      </div>
    </div>

    <div class="col-md-3 aCenter">
      <h4>Welcome {{firstName}}</h4>
      <h4>Happy Wishing!</h4>
    </div>

    <div class="col-md-4 first-col items" id="yourList">
      <h2 ng-show="userWishList.length">{{selUser}}'s List</h2>
      <div ng-repeat="wish in userWishList" class="col-xs-12 col-md-10 col-md-offset-1 blocky">
        <div class="item" ng-click="">
          <div><strong>Item Name</strong>: {{wish.itemName}}</div>
          <div><strong>Category</strong>: {{wish.itemCategory}}</div>
          <div><strong>Description</strong>: {{wish.itemDescription}}</div>
          <div><strong>Price</strong>: {{wish.itemPrice}}</div>
        </div>
      </div>
    </div>
  </div>
</section>